@charset "utf-8";
/*清除内外边距*/
*{
    padding: 0;
    margin: 0;
}

#banner img{
    width: 100%;
    height: 466px;
}

#menu{
    width: 1200px;
    height: 358px;
    /*background: #34ce57;*/
    margin: 0 auto;
}
#menu ul{
    margin-top: 80px;
    width: 1200px;
    height: 218px;
    /*background: #ffc107;*/
    list-style: none;
    display:flex;
    justify-content: space-around;
    /*
    justify-content控制项目在主轴上的对齐方式
        取值
        1.flex-start  在主轴的起点对齐
        2.flex-end   在主轴的终点对齐
        3.center     在主轴居中对齐
        4.space-between 两端对齐
        5.space-around  每个间距相同
    */
}
#menu li a{
    width: 79px;
    height: 218px;
    margin: 0 auto;
}
#menu ul li a img{
    transition: all 0.7s ease-out 0s;
    /*过渡的简写
        transition:property duration timing-function delay;
        transition:all 3s;
        最少写duration
    */
}
#menu ul li a img:hover{
    transform: scale(1.06);
    transform: translateY(-15px);
    /*margin-top: -15px;*/
}


/*顶部图片*/
#pic img{
    width: 100%;
    height: 100%;
    display: block;
}


/*内容部分*/
#innerCon{
    width: 980px;
    margin: 0 auto;
    /*background: red;*/
}
#innerCon .articles{
    margin-top: 100px;
}
#innerCon .articles .title{
    font-size: 24px;
    font-family: 宋体;
    text-align: center;
    color: #ac1d0f;
}
#innerCon .articles p{
    font-size: 24px;
    font-family: Simsun;
    text-align: center;
    margin: 100px auto;
}


/*尾部样式*/
#bottom-site .copyright{
    margin-top: -5px;
}